# **Full TMDb TV Shows Dataset 2024 (150K Shows)**
# **Research Question:**
#How can genres, languages, and other factors predict the popularity of TV shows?"

In [ ]:
import matplotlib as plt
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sb
import warnings

# Ignore warnings
warnings.filterwarnings('ignore')

# **Inspect the Data**

In [ ]:
df = pd.read_csv('tv_dataset.csv')
df.head()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168639 entries, 0 to 168638
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    168639 non-null  int64
 1   name                  168634 non-null  object
 2   number_of_seasons     168639 non-null  int64
 3   number_of_episodes    168639 non-null  int64
 4   original_language     168639 non-null  object
 5   vote_count            168639 non-null  int64
 6   vote_average          168639 non-null  float64
 7   overview              93333 non-null   object
 8   adult                 168639 non-null  bool
 9   backdrop_path         77780 non-null   object
 10  first_air_date        136903 non-null  object
 11  last_air_date         138735 non-null  object
 12  homepage              50998 non-null   object
 13  in_production         168639 non-null  bool
 14  original_name         168634 non-null  object
 15  popularity            168639 non-null  float64
 16  poster_path           108737 non-null  object
 17  type                  168639 non-null  object
 18  status                168639 non-null  object
 19  tagline               5330 non-null    object
 20  genres                99713 non-null   object
 21  created_by            36496 non-null   object
 22  languages             110050 non-null  object
 23  networks              97589 non-null   object
 24  origin_country        137609 non-null  object
 25  spoken_languages      109280 non-null  object
 26  production_companies  59342 non-null   object
 27  production_countries  77511 non-null   object
 28  episode_run_time      168639 non-null  int64
dtypes: bool(2), float64(2), int64(5), object(20)
memory usage: 35.1+ MB

In [ ]:
df.shape

(168639, 29)

In [ ]:
# Check for duplicates based on the 'ID' column
duplicates = df.duplicated(subset=['id'])

# Display the boolean Series of duplicates (True means duplicate, False means unique)
print(duplicates)

# Count the number of duplicated IDs
duplicate_count = duplicates.sum()
print(f"Total number of duplicated IDs: {duplicate_count}")

# Display the rows with duplicate IDs (excluding the first occurrence)
duplicated_rows = df[df.duplicated(subset=['id'])]
print(duplicated_rows)

0         False
1         False
2         False
3         False
4         False
          ...
168634     True
168635    False
168636    False
168637    False
168638     True
Length: 168639, dtype: bool
Total number of duplicated IDs: 3934
            id                             name  number_of_seasons  \
12010   237554                       Los Billis                  1
13747   237845       Garavito: La bestia serial                  1
13748   237727  La Hija de Dios: Dalma Maradona                  1
17241   237845       Garavito: La bestia serial                  1
17846   238234                  La hora marcada                  1
...        ...                              ...                ...
168627  238170                        Супермама                  6
168628  238171                          What ok                  1
168629  238172               Bear Video Theater                  1
168634  239099                         母乳酱想要喷出来                  1
168638  237566              Welcome to My World                  1

        number_of_episodes original_language  vote_count  vote_average  \
12010                    8                es          10          8.80
13747                    4                es           8          8.25
13748                    3                es           8          6.75
17241                    4                es           5          8.00
17846                    9                es           5          7.00
...                    ...               ...         ...           ...
168627                  78                uk           0          0.00
168628                   1                en           0          0.00
168629                  24                en           0          9.00
168634                   1                zh           0          0.00
168638                   5                en           0          0.00

                                                 overview  adult  \
12010   Inspired by real events, this series narrates ...  False
13747                                                 NaN  False
13748                                                 NaN  False
17241                                                 NaN  False
17846   The Marked Hour is an anthology series of horr...  False
...                                                   ...    ...
168627                                                NaN  False
168628      What ok what ok what ok hi what ok hi what ok  False
168629  Join legendary archer Fred Bear and fellow hun...  False
168634                                                NaN  False
168638                 Short-lives series on Youtube Red.  False

                           backdrop_path  ... tagline  \
12010   /x4wo96cQz2kok2tHukF1viO67Vr.jpg  ...     NaN
13747   /3X3a9kdi5CgGTmDqZJWH6YDq5AI.jpg  ...     NaN
13748   /1FMqX7ujJl31ML8MDzSCkGnOT5e.jpg  ...     NaN
17241   /3X3a9kdi5CgGTmDqZJWH6YDq5AI.jpg  ...     NaN
17846   /1Tw6vcJJOkA5CpQqzZ96TVZI2Q3.jpg  ...     NaN
...                                  ...  ...     ...
168627                               NaN  ...     NaN
168628  /ug8whIKVLv82onjeBJhptnaO913.jpg  ...     NaN
168629  /zgLxmCAu8hthWr0k5KCyxjp4xIX.jpg  ...     NaN
168634                               NaN  ...     NaN
168638                               NaN  ...     NaN

                           genres       created_by  languages     networks  \
12010                       Drama              NaN         es  Prime Video
13747                 Documentary              NaN         es      HBO Max
13748                 Documentary              NaN         es      HBO Max
17241                 Documentary              NaN         es      HBO Max
17846   Mystery, Sci-Fi & Fantasy              NaN         es          NaN
...                           ...              ...        ...          ...
168627                        NaN              NaN        NaN          NaN
168628                        NaN              NaN        NaN          NaN
168629                        NaN              NaN        NaN          NaN
168634                        NaN              NaN        NaN          NaN
168638                        NaN  Paul Vandervort        NaN          NaN

        origin_country spoken_languages              production_companies  \
12010               CO          Español                        AG Studios
13747               MX          Español                               NaN
13748               AR          Español  Infinity Hill, Nativa Contenidos
17241               MX          Español                               NaN
17846               MX          Español                               NaN
...                ...              ...                               ...
168627              UA              NaN                               NaN
168628              US              NaN                               NaN
168629              US              NaN                               NaN
168634              CN              NaN                               NaN
168638              US              NaN                       YouTube Red

             production_countries episode_run_time
12010                    Colombia                0
13747                         NaN               41
13748   Argentina, United Kingdom                0
17241                         NaN               41
17846                      Mexico                0
...                           ...              ...
168627                        NaN                0
168628                        NaN                0
168629                        NaN                0
168634                        NaN                0
168638   United States of America                0

[3934 rows x 29 columns]

In [ ]:
df = df.drop_duplicates(subset=['id'], keep='first')

In [ ]:
df.shape

(164705, 29)

# Filter the data
Big data with 170000 rows- reduce number of rows
#(first_air_date) 01/01/2017-31/12/2024
change dates (first/last_air_date) to datetime

In [ ]:
# Convert the 'first_air_date' column to datetime format
df['first_air_date'] = pd.to_datetime(df['first_air_date'], errors='coerce')
df['last_air_date'] = pd.to_datetime(df['last_air_date'], errors='coerce')

# Filter the data between 01/01/2018 and 31/12/2024
df = df[(df['first_air_date'] >= '2017-01-01') & (df['first_air_date'] <= '2024-12-31')]

# Display the filtered data
print(df.head())

      id             name  number_of_seasons  number_of_episodes  \
1  71446      Money Heist                  3                  41
5  69050        Riverdale                  7                 137
6  93405       Squid Game                  2                   9
8  71712  The Good Doctor                  6                 116
9  85271      WandaVision                  1                   9

  original_language  vote_count  vote_average  \
1                es       17836         8.257
5                en       13180         8.479
6                ko       13053         7.831
8                en       11768         8.503
9                en       11308         8.300

                                            overview  adult  \
1  To carry out the biggest heist in history, a m...  False
5  Set in the present, the series offers a bold, ...  False
6  Hundreds of cash-strapped players accept a str...  False
8  Shaun Murphy, a young surgeon with autism and ...  False
9  Wanda Maximoff and Vision—two super-powered be...  False

                      backdrop_path  ...  \
1  /gFZriCkpJYsApPZEF3jhxL4yLzG.jpg  ...
5  /soQgquPkLmUu9eKLJJzuA4KZDyi.jpg  ...
6  /2meX1nMdScFOoV4370rqHWKmXhY.jpg  ...
8  /xXRsKNJHTOGrs5wfYAxkbM2RiyT.jpg  ...
9  /lOr9NKxh4vMweufMOUDJjJhCRHW.jpg  ...

                                           tagline  \
1                             The perfect robbery.
5  To save the future, they must survive the past.
6                 45.6 billion won is child's play
8                   Everyone operates differently.
9              Experience a new vision of reality.

                               genres              created_by   languages  \
1                        Crime, Drama               Álex Pina          es
5               Crime, Drama, Mystery  Roberto Aguirre-Sacasa          en
6  Action & Adventure, Mystery, Drama         Hwang Dong-hyuk  en, ko, ur
8                               Drama             David Shore          en
9    Sci-Fi & Fantasy, Mystery, Drama           Jac Schaeffer          en

            networks  origin_country        spoken_languages  \
1  Netflix, Antena 3              ES                 Español
5             The CW              US                 English
6            Netflix              KR  English, 한국어/조선말, اردو
8                ABC              US                 English
9            Disney+              US                 English

                                production_companies  \
1                                    Vancouver Media
5  Warner Bros. Television, Berlanti Productions,...
6                    Siren Pictures, Firstman Studio
8  ABC Studios, 3AD, Sony Pictures Television Stu...
9                                     Marvel Studios

       production_countries episode_run_time
1                     Spain               70
5  United States of America               45
6               South Korea                0
8  United States of America               43
9  United States of America                0

[5 rows x 29 columns]

In [ ]:
df.shape

(59504, 29)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59504 entries, 1 to 168636
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    59504 non-null  int64
 1   name                  59504 non-null  object
 2   number_of_seasons     59504 non-null  int64
 3   number_of_episodes    59504 non-null  int64
 4   original_language     59504 non-null  object
 5   vote_count            59504 non-null  int64
 6   vote_average          59504 non-null  float64
 7   overview              34014 non-null  object
 8   adult                 59504 non-null  bool
 9   backdrop_path         39288 non-null  object
 10  first_air_date        59504 non-null  datetime64[ns]
 11  last_air_date         58791 non-null  datetime64[ns]
 12  homepage              25489 non-null  object
 13  in_production         59504 non-null  bool
 14  original_name         59504 non-null  object
 15  popularity            59504 non-null  float64
 16  poster_path           49825 non-null  object
 17  type                  59504 non-null  object
 18  status                59504 non-null  object
 19  tagline               3171 non-null   object
 20  genres                39751 non-null  object
 21  created_by            13005 non-null  object
 22  languages             42656 non-null  object
 23  networks              37968 non-null  object
 24  origin_country        51298 non-null  object
 25  spoken_languages      42153 non-null  object
 26  production_companies  26243 non-null  object
 27  production_countries  34974 non-null  object
 28  episode_run_time      59504 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(2), int64(5), object(18)
memory usage: 12.8+ MB

#Calculate the Percentage of Missing Data for Each Column, Identify the Columns with the Highest Missing Data, and Drop Them from the DataFrame

In [ ]:
# Calculate the percentage of missing data for each column
missing_percent = df.isnull().mean() * 100

# Create a DataFrame to display the missing percentage for each column
missing_data_df = pd.DataFrame({
    'Missing Percentage': missing_percent
})

# Sort the DataFrame by missing percentage (optional)
missing_data_df = missing_data_df.sort_values(by='Missing Percentage', ascending=False)

# Display the results
print(missing_data_df)

                      Missing Percentage
tagline                        94.670946
created_by                     78.144326
homepage                       57.164224
production_companies           55.897083
overview                       42.837456
production_countries           41.224119
networks                       36.192525
backdrop_path                  33.974187
genres                         33.196088
spoken_languages               29.159384
languages                      28.314063
poster_path                    16.266133
origin_country                 13.790670
last_air_date                   1.198239
first_air_date                  0.000000
vote_average                    0.000000
adult                           0.000000
name                            0.000000
number_of_seasons               0.000000
number_of_episodes              0.000000
original_language               0.000000
id                              0.000000
vote_count                      0.000000
type                            0.000000
popularity                      0.000000
in_production                   0.000000
status                          0.000000
original_name                   0.000000
episode_run_time                0.000000

In [ ]:
df.shape

(59504, 29)

#convert text to lowercase

In [ ]:
# Function to convert text to lowercase
def to_lowercase(text):
    if isinstance(text, str):  # Check if the value is a string
        return text.lower()  # Convert to lowercase
    return text  # Return the value as it is if it's not a string

# Apply this function to all object (string) columns
for col in df.select_dtypes(['object']):
    df[col] = df[col].apply(to_lowercase)

# Check the first few rows of the dataframe after conversion
print(df.head())

      id             name  number_of_seasons  number_of_episodes  \
1  71446      money heist                  3                  41
5  69050        riverdale                  7                 137
6  93405       squid game                  2                   9
8  71712  the good doctor                  6                 116
9  85271      wandavision                  1                   9

  original_language  vote_count  vote_average  \
1                es       17836         8.257
5                en       13180         8.479
6                ko       13053         7.831
8                en       11768         8.503
9                en       11308         8.300

                                            overview  adult  \
1  to carry out the biggest heist in history, a m...  False
5  set in the present, the series offers a bold, ...  False
6  hundreds of cash-strapped players accept a str...  False
8  shaun murphy, a young surgeon with autism and ...  False
9  wanda maximoff and vision—two super-powered be...  False

                      backdrop_path  ...  \
1  /gfzrickpjysappzef3jhxl4ylzg.jpg  ...
5  /soqgqupklmuu9ekljjzua4kzdyi.jpg  ...
6  /2mex1nmdscfoov4370rqhwkmxhy.jpg  ...
8  /xxrsknjhtogrs5wfyaxkbm2riyt.jpg  ...
9  /lor9nkxh4vmweufmoudjjjhcrhw.jpg  ...

                                           tagline  \
1                             the perfect robbery.
5  to save the future, they must survive the past.
6                 45.6 billion won is child's play
8                   everyone operates differently.
9              experience a new vision of reality.

                               genres              created_by   languages  \
1                        crime, drama               álex pina          es
5               crime, drama, mystery  roberto aguirre-sacasa          en
6  action & adventure, mystery, drama         hwang dong-hyuk  en, ko, ur
8                               drama             david shore          en
9    sci-fi & fantasy, mystery, drama           jac schaeffer          en

            networks  origin_country        spoken_languages  \
1  netflix, antena 3              es                 español
5             the cw              us                 english
6            netflix              kr  english, 한국어/조선말, اردو
8                abc              us                 english
9            disney+              us                 english

                                production_companies  \
1                                    vancouver media
5  warner bros. television, berlanti productions,...
6                    siren pictures, firstman studio
8  abc studios, 3ad, sony pictures television stu...
9                                     marvel studios

       production_countries episode_run_time
1                     spain               70
5  united states of america               45
6               south korea                0
8  united states of america               43
9  united states of america                0

[5 rows x 29 columns]

#Check if there are any columns with similar or identical values
The columns 'spoken_languages' and 'original_language' are similar to 'languages', and will be compared for redundancy. Similarly, the 'original_name' column is comparable to 'name', and will be assessed for overlap. The 'production_countries' column is similar to 'origin_country' and will be analyzed for any duplication. These comparisons will help in determining which columns can be merged or dropped to simplify the dataset.

In [ ]:

# Print specific columns from df and display the first 10 rows
print(df[['original_language', 'spoken_languages', 'languages', 'original_name', 'name']].head(10))

   original_language        spoken_languages   languages  \
1                 es                 español          es
5                 en                 english          en
6                 ko  english, 한국어/조선말, اردو  en, ko, ur
8                 en                 english          en
9                 en                 english          en
12                en                 english          en
14                en                 english          en
16                en                 english          en
17                en                 english          en
19                es                 español          es

           original_name                  name
1       la casa de papel           money heist
5              riverdale             riverdale
6                 오징어 게임            squid game
8        the good doctor       the good doctor
9            wandavision           wandavision
12                  loki                  loki
14       the mandalorian       the mandalorian
16              euphoria              euphoria
17  the umbrella academy  the umbrella academy
19                 élite                 elite

In [ ]:
print(df[['origin_country','production_countries']])

       origin_country      production_countries
1                  es                     spain
5                  us  united states of america
6                  kr               south korea
8                  us  united states of america
9                  us  united states of america
...               ...                       ...
168624             ru                       NaN
168630             in                       NaN
168632             th                  thailand
168633             de                       NaN
168636             in                     india

[59504 rows x 2 columns]

In [ ]:
print(df[['in_production','status']])

        in_production            status
1               False             ended
5               False             ended
6                True  returning series
8                True  returning series
9               False             ended
...               ...               ...
168624           True  returning series
168630           True  returning series
168632           True  returning series
168633           True  returning series
168636           True  returning series

[59504 rows x 2 columns]

#Counting Languages and Creating Dummies Variables for the Top 10 Most Frequent Languages , Networks and Genres
#These columns will be dropped after EDA, before handling missing values, in order to visualize comprehensive plots.
 This step ensures that the visualizations remain clear and focused on the most relevant data, without unnecessary complexity. Dropping these columns at this stage will also help in preparing the dataset for more efficient handling of missing values in the subsequent steps.

Languages

In [ ]:
df['languages'].value_counts().head(10)

languages
en    10495
zh     4313
ja     3735
fr     2565
ko     2543
de     1723
es     1538
nl     1455
pt     1269
hi     1114
Name: count, dtype: int64

In [ ]:
# Step 1: Fill NaN with an empty string and convert to string type
df['languages'] = df['languages'].fillna('').astype(str)

# Step 2: Create the 'languages_count' column
df['languages_count'] = df['languages'].str.split(r'\s*,\s*').str.len()

# Step 3: Get the top 10 most frequent languages (without empty strings)
all_languages = df['languages'].str.split(r'\s*,\s*').explode()  # Split and explode to get individual languages
all_languages = all_languages[all_languages != '']  # Filter out empty strings

# Get top 10 most frequent languages
top_languages = all_languages.value_counts().head(10).index.tolist()

# Check the top 10 languages detected
print("Top 10 languages:", top_languages)

# Step 4: Create dummies for the top 10 languages
for language in top_languages:
    df[language] = df['languages'].apply(lambda x: 1 if language in x.split(', ') else 0)

# Step 5: Print the results
print(df[['languages_count'] + top_languages].head())  # Show the languages_count and the dummies

Top 10 languages: ['en', 'zh', 'ja', 'fr', 'ko', 'de', 'es', 'nl', 'pt', 'hi']
   languages_count  en  zh  ja  fr  ko  de  es  nl  pt  hi
1                1   0   0   0   0   0   0   1   0   0   0
5                1   1   0   0   0   0   0   0   0   0   0
6                3   1   0   0   0   1   0   0   0   0   0
8                1   1   0   0   0   0   0   0   0   0   0
9                1   1   0   0   0   0   0   0   0   0   0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59504 entries, 1 to 168636
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    59504 non-null  int64
 1   name                  59504 non-null  object
 2   number_of_seasons     59504 non-null  int64
 3   number_of_episodes    59504 non-null  int64
 4   original_language     59504 non-null  object
 5   vote_count            59504 non-null  int64
 6   vote_average          59504 non-null  float64
 7   overview              34014 non-null  object
 8   adult                 59504 non-null  bool
 9   backdrop_path         39288 non-null  object
 10  first_air_date        59504 non-null  datetime64[ns]
 11  last_air_date         58791 non-null  datetime64[ns]
 12  homepage              25489 non-null  object
 13  in_production         59504 non-null  bool
 14  original_name         59504 non-null  object
 15  popularity            59504 non-null  float64
 16  poster_path           49825 non-null  object
 17  type                  59504 non-null  object
 18  status                59504 non-null  object
 19  tagline               3171 non-null   object
 20  genres                39751 non-null  object
 21  created_by            13005 non-null  object
 22  languages             59504 non-null  object
 23  networks              37968 non-null  object
 24  origin_country        51298 non-null  object
 25  spoken_languages      42153 non-null  object
 26  production_companies  26243 non-null  object
 27  production_countries  34974 non-null  object
 28  episode_run_time      59504 non-null  int64
 29  languages_count       59504 non-null  int64
 30  en                    59504 non-null  int64
 31  zh                    59504 non-null  int64
 32  ja                    59504 non-null  int64
 33  fr                    59504 non-null  int64
 34  ko                    59504 non-null  int64
 35  de                    59504 non-null  int64
 36  es                    59504 non-null  int64
 37  nl                    59504 non-null  int64
 38  pt                    59504 non-null  int64
 39  hi                    59504 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(2), int64(16), object(18)
memory usage: 17.8+ MB

Networks

In [ ]:
df['networks'].value_counts().head(10)

networks
netflix          1508
youtube          1194
prime video       616
tencent video     550
iqiyi             541
channel 4         408
channel 5         376
bbc two           362
youku             352
tv 2              331
Name: count, dtype: int64

In [ ]:
# Step 1: Fill NaN with empty string and convert to string type
df['networks'] = df['networks'].fillna('').astype(str)

# Step 2: Create the 'networks_count' column
df['networks_count'] = df['networks'].str.split(r'\s*,\s*').str.len()

# Step 3: Get the top 10 most frequent networks (without empty strings)
all_networks = df['networks'].str.split(r'\s*,\s*').explode()  # Split and explode to get individual networks

# Filter out empty strings and non-networks from the all_networks list
all_networks = all_networks[all_networks != '']

# Get the top 10 most frequent networks
top_networks = all_networks.value_counts().head(10).index.tolist()

# Check the top 10 networks detected
print("Top 10 networks:", top_networks)

# Step 4: Create dummies for the top 10 networks
for network in top_networks:
    # Debugging step: Check if network appears in the 'networks' column
    df[network] = df['networks'].apply(lambda x: 1 if network in x.split(', ') else 0)

# Step 5: Print the results
print(df[['networks_count'] + top_networks].head())  # Show the networks_count and the dummies

Top 10 networks: ['netflix', 'youtube', 'iqiyi', 'tencent video', 'prime video', 'youku', 'tokyo mx', 'channel 4', 'bbc two', 'channel 5']
   networks_count  netflix  youtube  iqiyi  tencent video  prime video  youku  \
1               2        1        0      0              0            0      0
5               1        0        0      0              0            0      0
6               1        1        0      0              0            0      0
8               1        0        0      0              0            0      0
9               1        0        0      0              0            0      0

   tokyo mx  channel 4  bbc two  channel 5
1         0          0        0          0
5         0          0        0          0
6         0          0        0          0
8         0          0        0          0
9         0          0        0          0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59504 entries, 1 to 168636
Data columns (total 51 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    59504 non-null  int64
 1   name                  59504 non-null  object
 2   number_of_seasons     59504 non-null  int64
 3   number_of_episodes    59504 non-null  int64
 4   original_language     59504 non-null  object
 5   vote_count            59504 non-null  int64
 6   vote_average          59504 non-null  float64
 7   overview              34014 non-null  object
 8   adult                 59504 non-null  bool
 9   backdrop_path         39288 non-null  object
 10  first_air_date        59504 non-null  datetime64[ns]
 11  last_air_date         58791 non-null  datetime64[ns]
 12  homepage              25489 non-null  object
 13  in_production         59504 non-null  bool
 14  original_name         59504 non-null  object
 15  popularity            59504 non-null  float64
 16  poster_path           49825 non-null  object
 17  type                  59504 non-null  object
 18  status                59504 non-null  object
 19  tagline               3171 non-null   object
 20  genres                39751 non-null  object
 21  created_by            13005 non-null  object
 22  languages             59504 non-null  object
 23  networks              59504 non-null  object
 24  origin_country        51298 non-null  object
 25  spoken_languages      42153 non-null  object
 26  production_companies  26243 non-null  object
 27  production_countries  34974 non-null  object
 28  episode_run_time      59504 non-null  int64
 29  languages_count       59504 non-null  int64
 30  en                    59504 non-null  int64
 31  zh                    59504 non-null  int64
 32  ja                    59504 non-null  int64
 33  fr                    59504 non-null  int64
 34  ko                    59504 non-null  int64
 35  de                    59504 non-null  int64
 36  es                    59504 non-null  int64
 37  nl                    59504 non-null  int64
 38  pt                    59504 non-null  int64
 39  hi                    59504 non-null  int64
 40  networks_count        59504 non-null  int64
 41  netflix               59504 non-null  int64
 42  youtube               59504 non-null  int64
 43  iqiyi                 59504 non-null  int64
 44  tencent video         59504 non-null  int64
 45  prime video           59504 non-null  int64
 46  youku                 59504 non-null  int64
 47  tokyo mx              59504 non-null  int64
 48  channel 4             59504 non-null  int64
 49  bbc two               59504 non-null  int64
 50  channel 5             59504 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(2), int64(27), object(18)
memory usage: 22.8+ MB

Genres

In [ ]:
df['genres'].value_counts()

genres
documentary                                  8220
drama                                        6098
reality                                      4505
comedy                                       2996
comedy, drama                                 986
                                             ...
kids, animation, family, sci-fi & fantasy       1
action & adventure, comedy, documentary         1
comedy, documentary, talk                       1
comedy, family, drama, kids                     1
documentary, talk, war & politics               1
Name: count, Length: 1231, dtype: int64

In [ ]:
import pandas as pd



# Convert any non-string values to empty strings (e.g., NaN, floats, etc.)
df['genres'] = df['genres'].fillna('').astype(str)

# Replace 'nan' string (result of fillna) with empty string (or keep it as empty)
df['genres'] = df['genres'].replace('nan', '')

# Split the genres by commas (in case of multiple genres),
# and make sure that empty entries (previously NaN or blank) are treated as empty lists
df['genres'] = df['genres'].apply(lambda x: x.split(', ') if x != '' else [])

# Use explode() to turn the list of genres into individual rows
df_exploded = df.explode('genres')

# SCreate dummy variables for the exploded genres
df_dummies = pd.get_dummies(df_exploded['genres'])

# Group by the original index and take the max to combine back into the original DataFrame
df_genres = df_dummies.groupby(df_exploded.index).max()

#  Convert the boolean values to integers (1 for True, 0 for False)
df_genres = df_genres.astype(int)

#  Join the dummy variables back to the original DataFrame
df = df.join(df_genres, how='left')

# Print the resulting DataFrame to see the dummy variables for genres
print(df)

            id             name  number_of_seasons  number_of_episodes  \
1        71446      money heist                  3                  41
5        69050        riverdale                  7                 137
6        93405       squid game                  2                   9
8        71712  the good doctor                  6                 116
9        85271      wandavision                  1                   9
...        ...              ...                ...                 ...
168624  240698   take my muffin                  1                   8
168630  240293           jhanak                  1                  32
168632  240609     born to be y                  1                   1
168633  240693    jokah & tutty                  1                   8
168636  240696          picasso                  1                   1

       original_language  vote_count  vote_average  \
1                     es       17836         8.257
5                     en       13180         8.479
6                     ko       13053         7.831
8                     en       11768         8.503
9                     en       11308         8.300
...                  ...         ...           ...
168624                ru           0         0.000
168630                hi           0         0.000
168632                th           0         0.000
168633                de           0         0.000
168636                bn           0         0.000

                                                 overview  adult  \
1       to carry out the biggest heist in history, a m...  False
5       set in the present, the series offers a bold, ...  False
6       hundreds of cash-strapped players accept a str...  False
8       shaun murphy, a young surgeon with autism and ...  False
9       wanda maximoff and vision—two super-powered be...  False
...                                                   ...    ...
168624  the story is about a unicorn who has lost his ...   True
168630                                                NaN  False
168632  the story of 14 contestants who audition to co...  False
168633                                                NaN  False
168636  murder, art and a journalist's relentless ques...  False

                           backdrop_path  ... family kids mystery  news  \
1       /gfzrickpjysappzef3jhxl4ylzg.jpg  ...      0    0       0     0
5       /soqgqupklmuu9ekljjzua4kzdyi.jpg  ...      0    0       1     0
6       /2mex1nmdscfoov4370rqhwkmxhy.jpg  ...      0    0       1     0
8       /xxrsknjhtogrs5wfyaxkbm2riyt.jpg  ...      0    0       0     0
9       /lor9nkxh4vmweufmoudjjjhcrhw.jpg  ...      0    0       1     0
...                                  ...  ...    ...  ...     ...   ...
168624                               NaN  ...      0    0       0     0
168630  /qsvujmyayl7ol7nfdovczasxab5.jpg  ...      0    0       0     0
168632  /rfzx8rzefncunnu91qcierz2x4i.jpg  ...      0    0       0     0
168633  /js1ftj6ffnauj5no45v5pxaiuqa.jpg  ...      0    0       0     0
168636   /fsebbbvhtdczs5m7bsjoxysve5.jpg  ...      0    0       0     0

       reality  sci-fi & fantasy soap talk war & politics western
1            0                 0    0    0              0       0
5            0                 0    0    0              0       0
6            0                 0    0    0              0       0
8            0                 0    0    0              0       0
9            0                 1    0    0              0       0
...        ...               ...  ...  ...            ...     ...
168624       0                 0    0    0              0       0
168630       0                 0    0    0              0       0
168632       0                 0    0    0              0       0
168633       0                 0    0    0              0       0
168636       0                 0    0    0              0       0

[59504 rows x 67 columns]

In [ ]:
print(df_genres.sum())

action & adventure     2310
animation              3626
comedy                 8105
crime                  3367
documentary           10669
drama                 13234
family                 2106
kids                   1385
mystery                2658
news                    307
reality                6221
sci-fi & fantasy       2339
soap                    449
talk                   1512
war & politics          576
western                  38
dtype: int64

In [ ]:
# Merge 'war & politics' & 'news', and 'action & adventure' & 'western'
df['war & politics & news'] = df['war & politics'] | df['news']  # OR operation to merge
df['action & adventure & western'] = df['action & adventure'] | df['western']  # OR operation to merge

# Drop the now redundant 'news' and 'western' columns
df.drop(['news', 'western'], axis=1, inplace=True)

# Drop the original 'war & politics' column
df.drop(['war & politics'], axis=1, inplace=True)

# Print the resulting DataFrame to see the merged columns and dummies
print(df)

            id             name  number_of_seasons  number_of_episodes  \
1        71446      money heist                  3                  41
5        69050        riverdale                  7                 137
6        93405       squid game                  2                   9
8        71712  the good doctor                  6                 116
9        85271      wandavision                  1                   9
...        ...              ...                ...                 ...
168624  240698   take my muffin                  1                   8
168630  240293           jhanak                  1                  32
168632  240609     born to be y                  1                   1
168633  240693    jokah & tutty                  1                   8
168636  240696          picasso                  1                   1

       original_language  vote_count  vote_average  \
1                     es       17836         8.257
5                     en       13180         8.479
6                     ko       13053         7.831
8                     en       11768         8.503
9                     en       11308         8.300
...                  ...         ...           ...
168624                ru           0         0.000
168630                hi           0         0.000
168632                th           0         0.000
168633                de           0         0.000
168636                bn           0         0.000

                                                 overview  adult  \
1       to carry out the biggest heist in history, a m...  False
5       set in the present, the series offers a bold, ...  False
6       hundreds of cash-strapped players accept a str...  False
8       shaun murphy, a young surgeon with autism and ...  False
9       wanda maximoff and vision—two super-powered be...  False
...                                                   ...    ...
168624  the story is about a unicorn who has lost his ...   True
168630                                                NaN  False
168632  the story of 14 contestants who audition to co...  False
168633                                                NaN  False
168636  murder, art and a journalist's relentless ques...  False

                           backdrop_path  ... drama family kids  mystery  \
1       /gfzrickpjysappzef3jhxl4ylzg.jpg  ...     1      0    0        0
5       /soqgqupklmuu9ekljjzua4kzdyi.jpg  ...     1      0    0        1
6       /2mex1nmdscfoov4370rqhwkmxhy.jpg  ...     1      0    0        1
8       /xxrsknjhtogrs5wfyaxkbm2riyt.jpg  ...     1      0    0        0
9       /lor9nkxh4vmweufmoudjjjhcrhw.jpg  ...     1      0    0        1
...                                  ...  ...   ...    ...  ...      ...
168624                               NaN  ...     0      0    0        0
168630  /qsvujmyayl7ol7nfdovczasxab5.jpg  ...     1      0    0        0
168632  /rfzx8rzefncunnu91qcierz2x4i.jpg  ...     1      0    0        0
168633  /js1ftj6ffnauj5no45v5pxaiuqa.jpg  ...     1      0    0        0
168636   /fsebbbvhtdczs5m7bsjoxysve5.jpg  ...     0      0    0        0

       reality  sci-fi & fantasy soap talk war & politics & news  \
1            0                 0    0    0                     0
5            0                 0    0    0                     0
6            0                 0    0    0                     0
8            0                 0    0    0                     0
9            0                 1    0    0                     0
...        ...               ...  ...  ...                   ...
168624       0                 0    0    0                     0
168630       0                 0    0    0                     0
168632       0                 0    0    0                     0
168633       0                 0    0    0                     0
168636       0                 0    0    0                     0

       action & adventure & western
1                                 0
5                                 0
6                                 1
8                                 0
9                                 0
...                             ...
168624                            0
168630                            0
168632                            0
168633                            1
168636                            0

[59504 rows x 66 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59504 entries, 1 to 168636
Data columns (total 66 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            59504 non-null  int64
 1   name                          59504 non-null  object
 2   number_of_seasons             59504 non-null  int64
 3   number_of_episodes            59504 non-null  int64
 4   original_language             59504 non-null  object
 5   vote_count                    59504 non-null  int64
 6   vote_average                  59504 non-null  float64
 7   overview                      34014 non-null  object
 8   adult                         59504 non-null  bool
 9   backdrop_path                 39288 non-null  object
 10  first_air_date                59504 non-null  datetime64[ns]
 11  last_air_date                 58791 non-null  datetime64[ns]
 12  homepage                      25489 non-null  object
 13  in_production                 59504 non-null  bool
 14  original_name                 59504 non-null  object
 15  popularity                    59504 non-null  float64
 16  poster_path                   49825 non-null  object
 17  type                          59504 non-null  object
 18  status                        59504 non-null  object
 19  tagline                       3171 non-null   object
 20  genres                        59504 non-null  object
 21  created_by                    13005 non-null  object
 22  languages                     59504 non-null  object
 23  networks                      59504 non-null  object
 24  origin_country                51298 non-null  object
 25  spoken_languages              42153 non-null  object
 26  production_companies          26243 non-null  object
 27  production_countries          34974 non-null  object
 28  episode_run_time              59504 non-null  int64
 29  languages_count               59504 non-null  int64
 30  en                            59504 non-null  int64
 31  zh                            59504 non-null  int64
 32  ja                            59504 non-null  int64
 33  fr                            59504 non-null  int64
 34  ko                            59504 non-null  int64
 35  de                            59504 non-null  int64
 36  es                            59504 non-null  int64
 37  nl                            59504 non-null  int64
 38  pt                            59504 non-null  int64
 39  hi                            59504 non-null  int64
 40  networks_count                59504 non-null  int64
 41  netflix                       59504 non-null  int64
 42  youtube                       59504 non-null  int64
 43  iqiyi                         59504 non-null  int64
 44  tencent video                 59504 non-null  int64
 45  prime video                   59504 non-null  int64
 46  youku                         59504 non-null  int64
 47  tokyo mx                      59504 non-null  int64
 48  channel 4                     59504 non-null  int64
 49  bbc two                       59504 non-null  int64
 50  channel 5                     59504 non-null  int64
 51  action & adventure            59504 non-null  int64
 52  animation                     59504 non-null  int64
 53  comedy                        59504 non-null  int64
 54  crime                         59504 non-null  int64
 55  documentary                   59504 non-null  int64
 56  drama                         59504 non-null  int64
 57  family                        59504 non-null  int64
 58  kids                          59504 non-null  int64
 59  mystery                       59504 non-null  int64
 60  reality                       59504 non-null  int64
 61  sci-fi & fantasy              59504 non-null  int64
 62  soap                          59504 non-null  int64
 63  talk                          59504 non-null  int64
 64  war & politics & news         59504 non-null  int64
 65  action & adventure & western  59504 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(2), int64(42), object(18)
memory usage: 29.6+ MB

In [ ]:
# Convert the list of genres to a comma-separated string
df['genres'] = df['genres'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

# Check the result
print(df[['genres']].head())

                               genres
1                        crime, drama
5               crime, drama, mystery
6  action & adventure, mystery, drama
8                               drama
9    sci-fi & fantasy, mystery, drama

# Data Frame Adjustments:

 Drop the 'spoken_languages' column, as it is redundant with 'languages'.

Drop the 'original_language' column, which is also covered by 'languages'.

Drop the 'original_name' column, and keep only the 'name' and 'ID' columns for clarity and simplicity.

Drop the 'production_countries' column, as it is redundant with 'origin_country'.

Drop the 'tagline' column, as it has 96% missing data (only 3207 non-null entries).

Drop the 'homepage' column, as it contains URL data that may not be necessary for analysis.

Drop 'backdrop_path' and 'poster_path' columns, as they contain image path references that may not be useful in this context.

Drop the 'created_by' column, as it has 78% missing data (only 13,400 non-null entries).

In [ ]:
df = df.drop(columns=['spoken_languages','original_language','original_name','production_countries','tagline','homepage','backdrop_path', 'poster_path','created_by'])


#Split the "overview" column and 'id into a new dataframe df_overview
After performing Exploratory Data Analysis (EDA), feature engineering will be carried out on the text data using a word cloud to detect the most important words. This process will help identify key terms and frequently occurring words in the "overview" section for further analysis.

The new dummy columns created for these key terms will then be merged back into the original dataframe, df, based on the common column id. This ensures that the features from the "overview" text are added to the original dataset for subsequent analysis.

In [ ]:
# Extract 'overview' column to a new DataFrame
df_overview = df[['overview','id']]

# Drop the columns 'overview' from the original DataFrame
df = df.drop(columns=['overview'])

# Display the information of the modified DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59504 entries, 1 to 168636
Data columns (total 56 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            59504 non-null  int64
 1   name                          59504 non-null  object
 2   number_of_seasons             59504 non-null  int64
 3   number_of_episodes            59504 non-null  int64
 4   vote_count                    59504 non-null  int64
 5   vote_average                  59504 non-null  float64
 6   adult                         59504 non-null  bool
 7   first_air_date                59504 non-null  datetime64[ns]
 8   last_air_date                 58791 non-null  datetime64[ns]
 9   in_production                 59504 non-null  bool
 10  popularity                    59504 non-null  float64
 11  type                          59504 non-null  object
 12  status                        59504 non-null  object
 13  genres                        59504 non-null  object
 14  languages                     59504 non-null  object
 15  networks                      59504 non-null  object
 16  origin_country                51298 non-null  object
 17  production_companies          26243 non-null  object
 18  episode_run_time              59504 non-null  int64
 19  languages_count               59504 non-null  int64
 20  en                            59504 non-null  int64
 21  zh                            59504 non-null  int64
 22  ja                            59504 non-null  int64
 23  fr                            59504 non-null  int64
 24  ko                            59504 non-null  int64
 25  de                            59504 non-null  int64
 26  es                            59504 non-null  int64
 27  nl                            59504 non-null  int64
 28  pt                            59504 non-null  int64
 29  hi                            59504 non-null  int64
 30  networks_count                59504 non-null  int64
 31  netflix                       59504 non-null  int64
 32  youtube                       59504 non-null  int64
 33  iqiyi                         59504 non-null  int64
 34  tencent video                 59504 non-null  int64
 35  prime video                   59504 non-null  int64
 36  youku                         59504 non-null  int64
 37  tokyo mx                      59504 non-null  int64
 38  channel 4                     59504 non-null  int64
 39  bbc two                       59504 non-null  int64
 40  channel 5                     59504 non-null  int64
 41  action & adventure            59504 non-null  int64
 42  animation                     59504 non-null  int64
 43  comedy                        59504 non-null  int64
 44  crime                         59504 non-null  int64
 45  documentary                   59504 non-null  int64
 46  drama                         59504 non-null  int64
 47  family                        59504 non-null  int64
 48  kids                          59504 non-null  int64
 49  mystery                       59504 non-null  int64
 50  reality                       59504 non-null  int64
 51  sci-fi & fantasy              59504 non-null  int64
 52  soap                          59504 non-null  int64
 53  talk                          59504 non-null  int64
 54  war & politics & news         59504 non-null  int64
 55  action & adventure & western  59504 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(2), int64(42), object(8)
memory usage: 25.1+ MB

In [ ]:
df_overview.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59504 entries, 1 to 168636
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   overview  34014 non-null  object
 1   id        59504 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.4+ MB

In [ ]:

# Save df_overview as a pickle file
df_overview.to_pickle('df_overview.pkl')

In [ ]:
df.shape

(59504, 56)

In [ ]:
# Save the cleaned DataFrame to a pickle file
df.to_pickle('cleaned2_data.pkl')